@model Photography.Core.Models.User

<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
        <input id="name" name="Name" type="text" class="form-control" placeholder="name..." required value="@Model.Name">
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></span>
        <input id="email" name="EmailAddress" type="email" class="form-control" placeholder="email..." required value="@Model.EmailAddress">
    </div>
</div>

<div class="form-group">
    <label for="discount">Discount</label>
    
    <div class="input-group">
        <input id="discount" name="Discount" type="text" data-slider-min="0" data-slider-max="1" data-slider-step=".05" 
               value="@Model.Discount" data-slider-orientation="horizontal" data-slider-selection="after"
               data-slider-tooltip="discount" class="slider" placeholder="discount...">
    </div>
</div>
