@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    ViewBag.Search = true;
}

<div class="jumbotron">
  <h1>Welcome to the photo site!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida augue et tortor tincidunt auctor. Mauris bibendum leo quis velit auctor tristique. Ut dui lorem, euismod sit amet hendrerit et, ultrices sit amet nulla. Suspendisse vel erat sed odio laoreet consequat sed et orci. Maecenas ornare, tortor a pharetra commodo, lectus urna volutpat elit, ac porta nisl lorem vitae ante. Aenean eu blandit enim. Mauris ac massa nec neque commodo tristique. Integer massa risus, elementum et commodo eget, tristique sit amet arcu. Proin laoreet tristique diam at venenatis.</p>
    <br/>
    <p><a class="btn btn-primary btn-lg" role="button" href="@Url.Action("Index", "Albums")">View Albums</a></p>
</div>