@{
    ViewBag.Title = "Invalid Request";
    ViewBag.Login = false;
    ViewBag.Search = false;
}

<div class="block">
    <div class="centered">
        <h2>Invalid Password Reset Request</h2>
        <img src='@Url.Content("~/Content/images/no.jpg")' alt="Invalid password reset request..."/>
    </div>
</div>
