@model PhotographySite.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    ViewBag.Login = false;
    ViewBag.Search = false;
}

<h2>Login</h2>

<form action="@Url.Action("ResetPassword")" method="POST">
    
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
            <input id="password" name="Password" type="password" class="form-control" placeholder="new password..." required>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
            <input id="passwordConfirmation" name="PasswordConfirmation" type="password" class="form-control" placeholder="password confirmation..." required>
        </div>
    </div>

    <input type="hidden" id="UserId" name="UserId" value="@Model.UserId"/>
    
    <input type="hidden" id="Token" name="Token" value="@Model.Token"/>

    <button type="submit" class="btn btn-default pull-right">Log in</button>
</form>
