@model IEnumerable<Photography.Core.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@foreach (var user in Model)
{
    Html.Label("Name");
    Html.Label(user.Name);

    Html.Label("Email");
    Html.Label(user.EmailAddress);

    if (user.Discount != null)
    {
        Html.Label("Discount");
        Html.Label(user.Discount.Value.ToString());
    }
}