@model System.Collections.Generic.IEnumerable<Photography.Core.Models.Album>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

 @foreach(var obj in Model)
 {
     <div>@obj.Name</div>
 }